@use 'vuetify/settings';

@mixin custom-pagination {
  .v-pagination__prev,
  .v-pagination__next,
  .v-pagination__item {
    background: white;
    color: black;

    border-radius: 4px;
    box-shadow:
      0 1px 1px rgba(170, 164, 164, 0.8),
      0 2px 2px rgba(170, 164, 164, 0.76),
      0 1px 5px rgba(170, 164, 164, 0.88);
  }

  .v-pagination__item--is-active {
    background: black;
    color: white;
    border-radius: 4px;
    box-shadow:
      0 5px 5px rgba(170, 164, 164, 0.8),
      0 9px 10px rgba(170, 164, 164, 0.76),
      0 5px 14px rgba(170, 164, 164, 0.88);
    transition: 0.7s;
  }
}

// 動畫-淡出往上
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
// 動畫-彈跳
@-webkit-keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(0.84);
    transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
// 動畫-彈跳
@keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(0.84);
    transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
// 縮放動畫
@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  70% {
    /* 維持放大狀態較久 */
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

// 佔位符-按鈕hover
%form-button-hover {
  &:hover {
    background-color: orange;
    .v-btn__content {
      color: white;
    }
  }
}

// swiper
.swiper {
  width: 100%;
  height: 900px;
}
// text editor
.ql-editor {
  min-height: 150px;
}

// 首頁
.index {
  // 第一區塊主視覺
  &__hero {
    // 父容器
    &-content {
      position: relative;
      width: 100%;
      height: 900px;

      // 輪播
      &-swiper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
      // 遮罩區塊
      &-overlay {
        position: relative;
        z-index: 2;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
      }
      // 文字區塊
      &-text {
        max-width: 720px;
        margin-top: 150px;
      }
      &-zoom-effect {
        animation: zoomInOut 8.5s ease-in-out infinite; /* 總時間配合 delay + speed */
      }
    }
  }

  // 第一區塊搜尋
  &__search {
    // 搜尋過濾
    &-filters {
      max-width: 720px;
      min-width: 350px;

      .v-btn {
        flex: 0 1 180px;

        &:hover {
          background-color: white;
          color: black;
          border-color: transparent;
        }
      }
    }

    // 搜尋關鍵字input
    &-input {
      max-width: 600px;
      min-width: 292px;
      height: 80px;
      flex: 0 1 600px;
      &::placeholder {
        color: #878787 !important;
      }

      .v-field,
      .v-field__input {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        height: 80px;
      }
    }

    // 搜尋關鍵字父容器
    &-bar {
      max-width: 720px;
      min-width: 350px;

      .v-btn {
        font-size: 20px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        flex: 0 1 120px;
      }
    }

    &-dialog {
      transform: translateZ(0);
      transition: opacity 0.2s ease;

      .v-input__control {
        width: 150px;
      }

      .v-input__details {
        display: none;
      }

      i {
        font-size: 30px;
      }
    }
  }

  // 第二區塊
  &__groups {
    &-latest {
      &-content {
        &-card {
          flex: 0 1 300px;

          .v-btn {
            flex: 0 1 200px;
          }
        }
        &-button {
          .v-btn {
            flex: 0 1 200px;
          }
        }
      }
    }

    // 即將到來區塊
    &-upcoming {
      &-content {
        &-card {
          flex: 0 1 300px;
        }
      }
    }
  }
}

@media (max-width: 959px) {
  .index__groups-latest-content-card,
  .index__groups-upcoming-content-card {
    flex: 0 1 500px;
  }

  .section-step__info {
    order: 2;
  }

  .section-step__img {
    order: 1;
  }
}
// 登入
.login {
  &__form {
    &-button {
      @extend %form-button-hover;
    }
  }

  &__content {
    filter: drop-shadow(0 0 10px rgb(255, 255, 255));

    &-success {
      animation: fadeInUp 0.5s ease-out;

      &-icon {
        -webkit-animation: bounce-in-fwd 1.1s both;
        animation: bounce-in-fwd 1.1s both;
      }
    }
  }
}
// 註冊
.register {
  &__form {
    &-button {
      @extend %form-button-hover;
    }
  }

  &__content {
    filter: drop-shadow(0 0 10px rgb(255, 255, 255));

    &-success {
      animation: fadeInUp 0.5s ease-out;

      &-icon {
        -webkit-animation: bounce-in-fwd 1.1s both;
        animation: bounce-in-fwd 1.1s both;
      }
    }
  }
}
// 揪團
.group {
  &__search {
    &-input {
      .v-input__details {
        display: none;
      }

      .v-field {
        border-radius: 8px;
        height: 50px;
        font-size: 16px;
        font-weight: bold;
        outline: 3px solid #eeeeee;

        .v-field__append-inner {
          font-size: 20px;
        }
      }

      .v-text-field__prefix {
        font-size: 12px;
        font-weight: bold;
        color: orange;
      }

      &-click:hover {
        .v-field__input,
        .v-text-field__prefix,
        .v-field__append-inner {
          cursor: pointer;
          i {
            color: orange;
          }
        }
      }
    }

    &-filters {
      max-width: 954px;
      .v-input {
        max-width: 296px;

        &:nth-child(1),
        &:nth-child(2) {
          margin-right: 32px;
        }
      }

      @media (max-width: 959px) {
        .v-input {
          max-width: 100%;
        }
      }

      @media (max-width: 599px) {
        & {
          flex-direction: column;
          .v-input {
            &:nth-child(1),
            &:nth-child(2) {
              margin-right: 0;
              margin-bottom: 24px;
            }
          }
        }
        .v-input {
          margin-right: 0;
        }
      }
    }

    // 搜尋關鍵字父容器
    &-bar {
      max-width: 954px;
      min-width: 350px;

      .v-field {
        max-width: 784px;
      }

      .v-btn {
        max-width: 140px;
        min-width: 58px;
        margin-left: 28px;
      }

      @media (max-width: 959px) {
        .v-input {
          width: 100%;
          margin-bottom: 24px;
        }

        .v-btn {
          min-width: 100%;
          margin-left: 0;
          margin-right: 28px;
        }
      }
    }

    &-select {
      max-width: 954px;
    }
  }

  &__pagination {
    @include custom-pagination;
  }

  &__select {
    .v-select__selection-text {
      font-size: 15px;
    }

    .v-input__details {
      display: none;
    }

    .v-field__input {
      padding: 0;
      padding-left: 4px;
    }
  }

  &__page {
    &-action {
      width: 400px;
      .v-btn {
        margin-right: 20px;
        flex: 0 1 200px;
        max-width: 200px;
      }

      @media (max-width: 599px) {
        flex-wrap: wrap;
        width: 100%;

        .v-btn {
          margin-right: 0;

          &:nth-child(1) {
            margin-bottom: 20px;
          }
        }
      }
    }
    &-edit {
      justify-content: end;
      @media (max-width: 599px) {
        justify-content: start;
      }
    }
    &-chat {
      .v-input__details {
        display: none;
      }

      .v-input {
        height: 40px;
      }
      .v-field {
        border-radius: 4px;
        height: 40px;
        font-size: 14px;

        .v-field__field {
          height: 40px;

          .v-field__input {
            height: 30px;
            padding-top: 0;
            padding-bottom: 10px;
          }
        }
      }
      &-title {
        font-size: 16px;
        &::before {
          background: #1a8a34;
          border-radius: 50%;
          content: '';
          display: inline-block;
          height: 8px;
          width: 8px;
        }
      }
    }
  }
}

@media (max-width: 599px) {
  .card-content {
    .card-end {
      width: 100%;
    }
  }
}

// 建立揪團
.creategroup {
  &__step1 {
    &-form {
      .v-field {
        border-radius: 8px;
        height: 50px;
        margin-top: 20px;
      }
    }
  }

  &__step2 {
    &-form {
      .v-input__details {
        display: none;
      }
      .v-chip {
        transition: 0.2s;

        &:hover {
          transform: scaleX(1.05);
          background-color: orange;
          color: white;
        }
      }
    }
  }

  &__step3 {
    &-chatgpt-link {
      text-decoration: none;
      &:visited {
        color: black;
      }
      &:hover {
        color: orange;
      }
    }
  }

  &__step4 {
    &-preview {
      width: 400px;
      .v-btn {
        margin-right: 20px;
        flex: 0 1 200px;
        max-width: 200px;
      }

      @media (max-width: 599px) {
        flex-wrap: wrap;

        .v-btn {
          margin-right: 0;

          &:nth-child(1) {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

.dp__pointer {
  height: 50px;
  border-radius: 8px !important;
}
// 會員專區
.member {
  &__organizer {
    .v-chip {
      transition: 0.2s;

      &:hover {
        transform: scaleX(1.05);
        background-color: orange;
        color: white;
      }
    }
    &-info {
      .v-field,
      .v-field__input {
        border-radius: 6px;
        height: 50px;
      }
      .v-input {
        margin-bottom: 5px;
      }
    }
  }

  &__info {
    .v-field,
    .v-field__input {
      border-radius: 6px;
      height: 50px;
    }
    .v-field {
      margin-top: 6px;
    }
    .v-input {
      margin-bottom: 5px;
    }
  }

  &__tag {
    .v-field,
    .v-field__input {
      border-radius: 6px;
      height: 50px;
    }
    .v-input__details {
      display: none;
    }

    &-edit:hover {
      transition: 0.2s;

      &:hover {
        transform: scaleX(1.05);
        background-color: orange;
        color: white;
      }
    }
  }
}

// 管理
.admin {
  &__group {
    .v-field,
    .v-field__input {
      border-radius: 6px;
      height: 50px;
    }
    .v-input__details {
      display: none;
    }

    &-form {
      .v-chip {
        transition: 0.2s;

        &:hover {
          transform: scaleX(1.05);
          background-color: orange;
          color: white;
        }
      }

      .v-field,
      .v-field__input {
        border-radius: 6px;
        height: 50px;
      }
      .v-input {
        margin-bottom: 5px;
      }
    }
  }

  &__user {
    .v-field,
    .v-field__input {
      border-radius: 6px;
      height: 50px;
    }
    .v-input__details {
      display: none;
    }

    &-form {
      .v-field,
      .v-field__input {
        border-radius: 6px;
        height: 50px;
      }
      .v-input {
        margin-bottom: 5px;
      }
    }
  }

  &__contact {
    .v-field,
    .v-field__input {
      border-radius: 6px;
      height: 50px;
    }
    .v-input__details {
      display: none;
    }
  }
}

// 行事曆
.fc-prev-button,
.fc-next-button,
.fc-today-button {
  background-color: orange !important;
  border-color: orange !important;

  &:focus {
    // box-shadow: rgba(238, 146, 8, 0.5) 0px 0px 0px 0.2rem !important;
    box-shadow: none !important;
  }
  &:hover {
    background-color: rgba(252, 177, 37, 0.418) !important;
    color: white !important;
  }
}

.fc-dayGridMonth-button,
.fc-dayGridWeek-button {
  background-color: white !important;
  color: black !important;
  border-color: orange !important;

  &:focus {
    // box-shadow: rgba(238, 146, 8, 0.5) 0px 0px 0px 0.2rem !important;
    box-shadow: none !important;
  }
  &:hover {
    background-color: rgba(252, 177, 37, 0.418) !important;
    color: white !important;
  }
}
.fc-button-active {
  background-color: orange !important;
  color: white !important;
}
